@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

$total-lines: 6;
$left-offset: 29px;
$clip-height: 50px;
$line-height: $clip-height - 5px;

.banner {
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-bottom h2 {
      transform: translate(0%, 0%);
      font-size: 180px;
      font-weight: 800;
      color: transparent;
      text-transform: uppercase;
      font-family: "Yanone Kaffeesatz", sans-serif;

      &:hover span:nth-child(1) {
        transform: translateY(-2rem);
      }
      &:hover span:nth-child(2) {
        transform: translateY(2rem);
      }

      &:hover span:nth-child(3) {
        opacity: 1;
        transition: opacity 700ms ease;
      }

      & span:nth-child(1),
      & span:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: #031231;
        transition: 0.5s;
        overflow: hidden;
      }

      & span:nth-child(1) {
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
      }

      & span:nth-child(2) {
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
      }

      & span:nth-child(3) {
        position: absolute;
        top: 50%;
        transform: translate(-101%, -50%);
        opacity: 0;
        transition: opacity 350ms ease;
        font-size: 20px;
        color: #fff;
        background: #699ecd76;
        width: 97.5%;
        padding-left: 5px;
        padding-top: 3px;
        text-align: center;
        letter-spacing: 0.5rem;
        word-spacing: 0.8rem;
        line-height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner .texts .text-bottom h2 {
    font-size: 120px;

    & span:nth-child(3) {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 850px) {
  .banner {
    height: 70vh;
    .texts .text-bottom h2 {
      font-size: 90px;

      & span:nth-child(3) {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .banner {
    height: 50vh;
    .texts .text-bottom h2 {
      font-size: 60px;

      & span:nth-child(3) {
        font-size: 8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .banner .texts .text-bottom h2 {
    font-size: 50px;

    &:hover span:nth-child(1) {
      transform: translateY(-1.5rem);
    }
    &:hover span:nth-child(2) {
      transform: translateY(1.5rem);
    }
    & span:nth-child(3) {
      font-size: 6px;
    }
  }
}

// .Words {
//   display: flex;
//   flex-direction: column;
//   padding: 80px 0;

//   font-family: "Montserrat", sans;
//   font-size: 40px;
//   font-weight: 700;
//   letter-spacing: -2px;
//   text-transform: uppercase;

//   transform: translate3d(0, 0, 0);
//   -webkit-font-smoothing: antialiased;
//   font-kerning: normal;
//   -webkit-font-kerning: normal;
//   -webkit-text-size-adjust: 100%;
// }

// .Words-line {
//   height: $clip-height;
//   overflow: hidden;
//   position: relative;

//   &:nth-child(odd) {
//     transform: skew(60deg, -30deg) scaleY(0.66667);
//   }
//   &:nth-child(even) {
//     transform: skew(0deg, -30deg) scaleY(1.33333);
//   }

//   @for $i from 1 through $total-lines + 1 {
//     &:nth-child(#{$i}) {
//       left: $left-offset * $i;
//     }
//   }
// }

// .Words-p {
//   height: $clip-height;
//   line-height: $line-height;
//   padding: 0 10px;
//   transition: all 0.4s ease-in-out;
//   transform: translate3d(0, 0, 0);
//   vertical-align: top;
//   white-space: nowrap;
// }

// /*
// ** The hover interaction
// */
// .Words:hover {
//   .Words-p {
//     transform: translate3d(0, -($clip-height), 0);
//   }
// }
