@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Yanone+Kaffeesatz:wght@700&display=swap");

#contact {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .contact-heading {
    font-size: 400%;
    letter-spacing: 0.2em;
    color: var(--sidebar-text-color);
    margin-bottom: 12rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
  }
  .contact-container {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 6px;
    padding: 30px 30px 60px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    .contact-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-side {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        position: relative;
        .left-side::before {
          content: "";
          position: absolute;
          height: 70%;
          width: 2px;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          background: #afafb6;
        }
        .details {
          margin: 14px;
          text-align: center;
        }
        .details i {
          font-size: 32px;
          color: #3a6078;
          margin-bottom: 10px;
        }
        .topic {
          font-size: 18px;
          font-weight: 500;
        }
        .details .text-one,
        .details .text-two {
          font-size: 18px;
          color: white;
        }
      }
      .right-side {
        width: 35vw;
        margin-left: 75px;

        .topic-text {
          font-size: 23px;
          font-weight: 600;
          color: #3a6078;
        }
        .input-box {
          height: 50px;
          width: 100%;
          margin: 12px 0;
        }
        .input-box input,
        .input-box textarea {
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          font-size: 18px;
          background: #f0f1f8;
          border-radius: 6px;
          padding: 0 15px;
          resize: none;
        }
        .message-box {
          min-height: 110px;
        }
        .input-box textarea {
          padding-top: 6px;
        }
        .button {
          display: inline-block;
          margin-top: 12px;
        }
        .button input[type="button"] {
          color: #fff;
          font-size: 20px;
          outline: none;
          border: none;
          padding: 8px 16px;
          border-radius: 6px;
          background: #3a6078;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .button input[type="button"]:hover {
          background: #3a6078;
        }
      }
    }
  }

  .contact-banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 18px;
    background: #3a6078;
  }
}

@media (max-width: 1150px) {
  #contact .contact-heading {
    margin-bottom: 7rem;
  }
  #contact .contact-container .contact-content .left-side .details .text-one,
  #contact .contact-container .contact-content .left-side .details .text-two {
    font-size: 17px;
  }
  #contact .contact-container .contact-content .right-side {
    .input-box input {
      font-size: 16px;
    }
    .button input[type="button"] {
      font-size: 17px;
    }
  }
}

@media (max-width: 850px) {
  #contact .contact-heading {
    margin-bottom: 9rem;
    font-size: 300%;
  }
  #contact .contact-container .contact-content .left-side .details .text-one,
  #contact .contact-container .contact-content .left-side .details .text-two {
    font-size: 14px;
  }
  #contact .contact-container .contact-content .right-side {
    .input-box input {
      font-size: 14px;
    }
    .button input[type="button"] {
      font-size: 14px;
    }
  }
  #contact .contact-banner p {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  #contact .contact-heading {
    margin-bottom: 0;
    font-size: 200%;
  }
  #contact .contact-container {
    padding: 30px 30px 30px 30px;
    .contact-content {
      display: flex;
      flex-direction: column;
      .left-side .details .text-one {
        width: 50vw;
      }
      .left-side .details i {
        font-size: 22px;
      }
      .right-side {
        margin-left: 0;
        width: 60vw;
      }
    }
  }
  #contact .contact-banner {
    width: 100vw;
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 375px) {
  #contact .contact-heading {
    margin-bottom: 0;
    font-size: 180%;
  }
  #contact .contact-container {
    padding: 20px 20px 20px 20px;
    .contact-content {
      .left-side .details i {
        font-size: 20px;
      }
      .right-side .input-box input {
        font-size: 12px;
      }
      .button input[type="button"] {
        font-size: 12px;
      }
    }
  }
  #contact .contact-banner {
    width: 100vw;
    p {
      font-size: 10px;
    }
  }
}
