@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Yanone+Kaffeesatz:wght@700&display=swap");

:root {
  --sidebar-background: #000000;
  --sidebar-hover-background: #18294d;
  --sidebar-text-color: #ecf0f1;
  --transition-duration: 0.3s;
}

body {
  background: black;

  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

//Variables
$mobile-breakpoint: 350px;
$large-mobile-breakpoint: 530px;
$tablet-breakpoint: 700px;
$desktop-breakpoint: 1200px;

//Mixins
//Centering Mixins
@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

//Media Query mixins
@mixin mobile {
  @media (min-width: #{$mobile-breakpoint}) and (max-width: #{$large-mobile-breakpoint - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$large-mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint}) {
    @content;
  }
}

//Animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    top: -60px;
  }

  100% {
    top: 0;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.7);
  }

  95% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }

  5% {
    height: 350px;
  }

  95% {
    height: 350px;
  }

  100% {
    height: 0;
  }
}

.container {
  width: 100%;
  height: 100vh;
  font-size: 14px;

  font-family: "Montserrat", sans;

  .container-inner {
    display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // align-items: center;

    animation: fade-in 1.5s ease, slide-in 1.2s ease;
    -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;

    .main-content {
      flex-basis: 50%;
      order: 1;
      align-self: center;
      display: flex;
      flex-direction: column;
      color: var(--sidebar-text-color);

      .main-headings {
        align-self: center;
        display: flex;
        flex-direction: column;
        animation: scaleDown 4s ease 1s;
        -webkit-animation: scaleDown 4s ease 1s;

        #by-line {
          width: 60%;
          padding-bottom: 1px;
          padding-left: 3px;
          margin-left: 80px;
          font-size: 90%;
          border-bottom: 1px solid var(--sidebar-text-color);
          font-style: italic;
        }

        .heading {
          align-self: flex-end;
          margin-top: 20px;
          margin-left: 80px;

          #heading1,
          #heading2,
          #heading3 {
            margin: 0;
            margin-top: -20px;
            margin-bottom: 30px;
          }

          #heading1,
          #heading2 {
            font-size: 500%;
            font-weight: normal;
            letter-spacing: -2px;
          }

          #heading1 {
            margin-left: 80px;
          }

          #heading2 {
            margin-left: 150px;
            margin-bottom: 30px;
          }

          #heading3 {
            margin-top: -52px;
            font-weight: 800;
            font-size: 130px;
            letter-spacing: 2px;
            margin-left: 80px;
          }
        }

        .short-bio {
          width: 70%;
          margin-top: -30px;
          margin-left: 90px;
          font-style: italic;
          font-size: 130%;
        }

        a {
          width: 72%;
          margin-left: 92px;
          margin-top: 10px;
          margin-right: auto;
          align-self: flex-start;
          font-weight: bold;
          font-size: 120%;
          font-family: helvetica;
          text-decoration: underline;
          cursor: pointer;
          color: var(--sidebar-text-color);

          &:hover {
            text-decoration: overline;
          }
        }
      }

      .more-info {
        margin-top: -70px;
        font-size: 115%;
        width: 50%;
        height: 0;
        margin-left: auto;
        margin-right: auto;
        align-self: flex-start;
        overflow: hidden;
        animation: reveal-info 3s ease 1s;
        -webkit-animation: reveal-info 3s ease 1s;
      }
    }

    .image-wrapper {
      flex-basis: 50%;
      order: 2;

      .image-container {
        width: 100%;
        height: 110vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: scaleDown 3s ease 1s;
        -webkit-animation: scaleDown 3s ease 1s;

        img {
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .main-headings .heading #heading1,
  #heading2 {
    font-size: 450% !important;
  }

  #heading3 {
    font-size: 900% !important;
  }
}

.image-wrapper .image-container img {
  height: 65% !important;
}

// .seperator-wrapper .seperator {
//   width: 100vw;
//   height: 4px;
//   animation: rotate 6s infinite linear;
// }

// @keyframes rotate {
//   from {
//     background-position: 100vw;
//   }

//   to {
//     background-position: 0vw;
//   }
// }

// .gradient {
//   background: #30ff90;
//   background: linear-gradient(
//     to right,
//     #30ff90 0%,
//     #2d53ed 25%,
//     #6426c9 50%,
//     #4130ff 75%,
//     #30ff90 100%
//   );
// }

// ***NAVBAR***

#nav-container {
  display: flex;
  align-items: center;
}
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100vw;
  background-color: var(--sidebar-background);
  overflow-x: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--sidebar-text-color);
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.menu-item:hover {
  border-bottom: 2px solid black;
  color: black;
}

.menu-item i {
  margin-right: 10px;
}

// ***ICONS***

#icons {
  display: flex;
  gap: 15px;
}

#icons li {
  list-style: none;
}

#icons li a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 33px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

#icons li a .icon {
  position: relative;
  color: #070707;
  transition: 0.5s;
  z-index: 3;
}

#icons li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

#icons li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(194, 33, 108);
  transition: 0.5s;
  z-index: 2;
}

#icons li a:hover:before {
  top: 0;
}

#icons li:nth-child(1) a:before {
  background: #3b5999;
}

#icons li:nth-child(2) a:before {
  background: #55acee;
}

#icons li:nth-child(3) a:before {
  background: #0077b5;
}

#icons li:nth-child(4) a:before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

/* LOGO */

.Logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  margin-left: 50px;
}

/* ICONS */
/* GOLDEN ON HOVER */

/* ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
} */

// @media screen and (max-width: 1440px) {

//   ul li a {
//     width: 50px;
//     height: 50px;
//     line-height: 50px;
//     font-size: 30px;
//   }

//   .Logo {
//     width: 160px;
//   }
// }
